*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 3rem 1rem;
}

main{
    background-color:rgb(127, 255, 212) ;
    
    
}


section{
    height: 800px;
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

main>section>span{
   width: calc(100% / 10);
   height: calc(100% / 10);
   text-align: center;
   border: 2px solid black;
   


}

.bgcolor{
    background-color:aqua;
}



